# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
*.log
staticfiles/
media/

# Environment variables
.env

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/